rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated users can access the database
    function isAuthenticated() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
